header{
    background-color: #212529;
    color: white;
}

nav{
    text-align: right;
    background-color: #212529;
    color: white;
    margin-top: 0;
}

.menu{
    background-color: #212529;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo{
    margin-left: 300px;
    
    
}